.canvas-tools-container {
  max-width: 600px;
}

.canvas-draw-tools {
  display: flex;
  align-items: center;
}

.canvas-draw-tools div {
  flex-grow: 1;
  height: 3em;
  margin: 0.5em 1em;
  text-align: center;
}

.canvas-draw-tools div input {
  width: 100%;
}

#pencil-eraser {
  flex-grow: 0;
}

#pencil-eraser button {
  margin: 0 0.3em;
  padding: 0.3em;
  background-color: transparent;
  border: 1px solid #ffa500;
  color: #ffa500;
  border-radius: 5px;
  outline: none;
  transition: 0.1s all;
}

#pencil-eraser button:hover {
  box-shadow: 0 0 5px #ffa500;
  cursor: pointer;
}

#pencil-eraser button i {
  font-size: 1.2em;
}

.canvas-upload-tools {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1000px) {
  .canvas-tools-container {
    max-width: 100%;
    width: 100%;
  }

  .canvas-upload-tools {
    padding: 1em;
  }
}
