/* TODO Add site wide styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  background: rgb(255, 119, 0);
  background: linear-gradient(135deg, rgba(255, 119, 0, 1) 19%, rgba(49, 203, 37, 1) 100%);
  height: calc(100vh);
}

canvas {
  border: 1px solid black;
}

.main {
  height: calc(100vh - 4.1em);
  max-width: 1000px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 1em;
  background-color: white;
}

.main::-webkit-scrollbar {
  width: 10px;
}

.main::-webkit-scrollbar-thumb {
  background-color: #ffa500;
}

.main::-webkit-scrollbar-thumb:hover {
  background-color: #c4881b;
}

.input-bar-text {
  flex-grow: 1;
  border-radius: 0.3em;
  outline: none;
  font-size: 0.9em;
}

.input-bar-button {
  margin-left: 1em;
  padding: 1em;
  outline: none;
  border: none;
  border-radius: 0.3em;
  background-color: #ffa500;
  color: white;
  font-size: 1em;
}

.input-bar-button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

@media only screen and (max-width: 1000px) {
  .main {
    max-width: 100vw;
    width: 100vw;
    padding: 0;
  }
}
