.profile-drawing-container {
  display: flex;
  flex-wrap: wrap;
  margin: 1em;
}

.profile-drawing-item {
  width: 31%;
  margin: 1%;
}

.profile-drawing-item img {
  border: 1px solid black;
  max-width: 100%;
  border-radius: 5px;
}

.profile-drawing-container::after {
  content: "";
  flex: auto;
}
