.comment-container {
  display: flex;
  padding: 0.6em;
  border: 1px solid black;
  border-bottom: none;
  position: relative;
}

.comment-container:first-of-type {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.comment-container:last-of-type {
  border-bottom: 1px solid black;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.comment-pic-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.comment-prof-pic {
  max-width: 4em;
  border-radius: 50%;
  margin-right: 1em;
}

.comment-info {
  flex-grow: 1;
}

.comment-info a {
  color: black;
  text-decoration: none;
}

.comment-user {
  font-size: 1.1em;
  font-weight: bold;
}

.comment-content {
  max-width: 30em;
}

.comment-date {
  display: block;
  text-align: end;
  font-size: 0.9em;
  color: #555;
}

.comment-delete-btn {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
  padding: 0.4em 0.5em;
  border: 1px solid red;
  color: red;
  background-color: transparent;
  outline: none;
  border-radius: 5px;
  transition: 0.2s;
}

.comment-delete-btn:hover {
  color: white;
  background-color: red;
}
