.splash-container {
  background-color: rgba(255, 255, 255, 0);
  color: white;
  text-align: center;
}

.splash-container h1 {
  font-family: "Baloo Tamma 2", "Montserrat", Verdana, "Segoe UI", Tahoma, Geneva, sans-serif;
  font-size: 4em;
}

.pic-form {
  display: flex;
  margin-bottom: 1em;
}

.auth-form-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-form-container form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.splash-card-container {
  display: flex;
  justify-content: space-around;
}

.splash-card-container div {
  width: 32%;
}
