.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  align-items: center;
  height: 4em;
  background-color: white;
  padding-right: 1em;
}

.navbar li {
  list-style-type: none;
}

.navbar img {
  max-height: 100%;
}

.navbar a {
  overflow: hidden;
}

.login-btn-container,
.profile-btn-container {
  display: flex;
  gap: 1em;
  align-items: center;
}

.orange-btn {
  text-decoration: none;
  border: 1px solid #ffa500;
  padding: 0.6em 1em;
  color: #ffa500;
  border-radius: 5px;
  transition: 0.2s all;
}

.orange-btn:hover {
  box-shadow: 0 0 5px 2px #ffa500;
}

.green-btn {
  text-decoration: none;
  padding: 0.6em 1em;
  color: white;
  background-color: #54e317;
  border-radius: 5px;
  transition: 0.2s all;
}

.green-btn:hover {
  box-shadow: 0 0 5px 2px #54e317;
}

.rainbow {
  background-color: #ffa500;
  border-radius: 5px;
  color: white;
  padding: 1em 2em;
  text-decoration: none;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.rainbow:hover {
  background-image: linear-gradient(
    to right,
    #e7484f,
    #e7484e 16.65%,
    #f68b2d 16.65%,
    #f68b1d 33.3%,
    #fced10 33.3%,
    #fced00 49.95%,
    #009e4e 49.95%,
    #009e5f 66.6%,
    #00aab3 66.6%,
    #00aac3 83.25%,
    #732984 83.25%,
    #732982 100%,
    #e7484e 100%
  );
  animation: slide 2s linear infinite;
}

@keyframes slide {
  to {
    background-position: 20vw;
  }
}
