.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  align-items: center;
  height: 4em;
  background-color: white;
}

.navbar li {
  list-style-type: none;
}

.navbar img {
  max-height: 100%;
}

.navbar a {
  overflow: hidden;
}
